body {
    background-color: #666;
    color: #999;
}

.container-center {
    margin: 20px auto;
    width: 1024px;
    box-shadow: 10px 10px 40px -1px rgba(0, 0, 0, 0.23);

}

.soft-border {
    border-radius: 100px;

}

.info-row {
    background-color: #333;
    display: flex;
}

.header-column {
    padding: 20px;
    margin: auto;
    text-align: center;
    display: inline-block;
    align-items: center;
    width: 30%;
}

.content-column {
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: #414141;
    flex: 1;
}

.content-info {
}

.round-image {
    border-radius: 50%;
    margin-bottom: 10px;
}

.author {
    display: block;
}

.name {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: darkorange;
}

.head-box {
    text-align: right;
    text-transform: uppercase;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.icons {
    width: 25px;
    padding-right: 20px;
    font: inherit;
}

.contacts {
    display: inline;
}

.contact-info {
    display: flex;
    align-items: center;
    margin: 16px 0 16px;
}

.content-info a {
    color: #999;
}

.none-list-item {
    padding-left: 0;
    list-style: none;
}
